body {
    font-family: 'Roboto', sans-serif;

    line-height: 22px;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-weight: 500;
}
header, footer {
    width: 85%;
    min-height: 20px;

    margin: 0 auto;
    padding: 10px 25px;

    text-align: center;

    color: #ffffff;
    background-color: #07173D;
}

                                /* H E A D E R */
header {
    display: flex;
    position: fixed;

    top: 0;
    right: 0;
    left: 0;

    margin: 0 auto;

}
header div {
    flex-grow: 1;
}
.header-logo {
    background: url("img/polytechLogoInverted.png") no-repeat center;
    background-size: contain;
}

                                /* M A I N */
main {
    width: 75%;
    min-height: 200px;

    padding: 25px 35px;
    margin: 100px auto 60px auto;

    color: black;
    background-color: #E7EDF7;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 45px 1fr;
}
main a {
    color: #07173D;
}


main #main_menu {
    grid-column: 2/3; grid-row: 1/2;
    /*background-color: darkkhaki;*/
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main #main_menu a {
    display: block;

    padding: 5px;
    background-color: #d5deef;
    border: 1px solid #2363ff;

    text-align: center;
}
main #main_menu a:first-child {margin-right: 20px}



main #product_menu {

    grid-column: 1/2; grid-row: 2/3;
    padding: 5px;
}
main #product_menu a {
    display: block;

    padding: 3px;
    background-color: #d5deef;
    border-radius: 5px;

    margin-bottom: 5px
}
main #product_menu a:last-child {
    margin-bottom: 0;
}

main #multiplication_table {
    grid-column: 2/3; grid-row: 2/3;
    /*background-color: coral;*/
    padding: 10px;

    margin: 0 auto;
}

/*table*/
main #multiplication_table table {border-collapse: collapse;}
main #multiplication_table table td {border: 1px solid #2363ff; padding: 5px;}


/*div*/
main #multiplication_table .ttRow .div-cell {
    display: inline-block;

    border: 1px solid #2363ff; padding: 5px;

    width: 64px;
    box-sizing: border-box;
}
main #multiplication_table .ttSingleRow .div-cell {
    display: inline-block;

    border: 1px solid #2363ff; padding: 5px;

    width: 64px;
    box-sizing: border-box;
}

.selected {text-transform: uppercase; font-weight: 600;}
                                /* F O O T E R */
footer {
    position: fixed;

    right: 0;
    bottom: 0;
    left: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
